body {
	background-color: cadetblue;
	font-family: Arial, helvetica, sans-serif;
	margin: auto;
	text-align: center;
}

img {
	width: 1500px;
	height: 300px;
	display: block;
	margin: auto;
	padding: 10px;
}

h1 {
	text-align: center;
	font-size: 40px;
	color: rosybrown;
	font-style: italic;
	text-shadow: 1px 1px rosybrown;

}

div {
	border: 2px solid black;
	background: beige;
	margin-left: 100px;
	margin-right: 100px;
	padding: 1px;
	display: block;
	box-shadow: 1px 1px white;
	color:aquamarine;
}

h2 {
	text-align: center;
	font-style: bold;
	font-size: 28px;
	color: rosybrown;
	padding-left: 10px;
	text-shadow: 1px 1px black;

}

p {
	text-align: center;
	padding-top: 10px;
	padding-left: 10px;
	font-size: 20px;
	font-style: bold;
	margin-left: 100px;
	margin-right: 100px;
}


ul {
	font-style: italic;
	font-size: 20px;
	text-align: center;
	margin-left: 100px;
}